
@{
    ViewData["Title"] = "Loans";
}
@model IEnumerable<CarRentals.Domain.Loan>

<h1>Loans</h1>

<table class="table">
    <thead>
        <tr>
            <td>Registreringsnummer</td>
            <td>Bilmodell</td>
            <td>Lån´start datum</td>
            <td>Lån slut datum</td>
            <td>Nuvarande dagar</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var loan in Model)
        {
            <tr>
                <td>@loan.Car.RegistrationNumber</td>
                <td>@loan.Car.Details.MaxRentDays</td>
                <td>@loan.LoanStart.ToString("yyyy-MM-dd")</td>
                <td>@loan.LoanEnd.ToString("yyyy-MM-dd")</td>
                @if (loan.CarReturned.HasValue)
                {
                    <td>@(loan.CarReturned.Value - loan.LoanStart)</td>
                }
                else
                {
                    <td></td>
                }
                <td><a href="/loan/return/@loan.Id">Lämna tillbaka</a></td>
            </tr>
        }
    </tbody>
</table>